<footer class="footer footer-center p-4">
  <div>
    <p class="text-xs text-base-content/70">
      &copy; {(new Date()).getFullYear()} – 
      <a class="link" href="https://github.com/saadeghi/daisy-blog" target="_blank">
        Daisy Blog
      </a>
      Theme, Powered by
      <a class="link" href="https://astro.build/" target="_blank">
        Astro
      </a>
    </p>
  </div>
</footer>